name: Build with Gradle

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'graalvm'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle Wrapper
        run: ./gradlew build

      - name: Generate shadow JAR
        run: ./gradlew shadowJar

      - name: Generate native binary
        run: |
          ./gradlew -Pagent run --args="status"
          ./gradlew nativeCompile

      - name: Create and push timestamp tag
        id: create_tag
        run: |
          TAG="release-$(date +'%Y%m%d_%H%M')"
          echo "Creating tag: $TAG"
          git tag $TAG
          git push origin $TAG
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          echo "Tag $TAG created and pushed successfully"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.create_tag.outputs.tag }}
          files: |
            app/build/libs/timekeeper.jar
            app/build/native/nativeCompile/timekeeper
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
