name: Build with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'graalvm'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle Wrapper
        run: ./gradlew build

      - name: Generate shadow JAR
        run: ./gradlew shadowJar

      - name: Generate native binary
        run: |
          ./gradlew -Pagent run --args="report"
          ./gradlew nativeCompile

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            app/build/libs/timekeeper.jar
            app/build/native/nativeCompile/timekeeper
          generate_release_notes: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}